h1 {
    color: silver;
    font-family: Verdana;
    text-align: center;
}

body {
    background-color: grey;
    color: white;
    font-family: Courier;
}

p {
    border: 2px solid white;
    padding: 10px;
    margin: 100px;
}