h1 {
    color: silver;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: center;
}

body {
    background-color: grey;
    color: white;
    font-family: Tahoma;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: silver;
}

.nav li {
    float: left;
    border-right: 1px solid;
}

li a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: right;
}

li a:hover {
    background-color: white;
    color: black;
    transition-duration: 1s;
}

footer {
    background-color: silver;
    padding: 10px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.flex-container button {
    background-color: silver;
    border: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 30px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.flex-container button:hover {
    background-color: white;
    color: black;
}
