@font-face {
    font-family: HankenGrotesk;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    font-family: HankenGrotesk;
    background-color: #EEF2FA;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.result {
    background-color: white;
    width: 700px;
    height: 500px;
    display: flex;
    border-radius: 30px;
}

.yourresult {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    width: 450px;
    height: 100;
    border-radius: 30px;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.score {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.bold {
    font-weight: 800;
}

.medium {
    font-weight: 700;
}

.light {
    font-weight: 500;
}

.text-xl {
    font-size: 4rem;
}

.text-l {
    font-size: 2rem;
}

.text-m {
    font-size: 1.5rem;
}

.summary {
    /* border: solid 3px red; */
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.grey {
    color: hsl(241, 100%, 89%);
}

.red {
    color: hsl(0, 100%, 67%);
}

.yellow {
    color: hsl(39, 100%, 56%);
}

.green {
    color: hsl(166, 100%, 37%);
}

.blue {
    color: hsl(234, 85%, 45%);
}

.redback {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.yellowback {
    background-color: hsl(39, 100%, 56%, 0.1); 
}

.greenback {
    background-color: hsl(166, 100%, 37%, 0.1);
}

.blueback {
    background-color: hsl(234, 85%, 45%, 0.1);;
}

.translucent {
    opacity: 0.5;
}

.dgb {
    color: hsl(224, 30%, 27%);
}

.comment {
    display: flex;
    width: 220px;
    text-align: center;
}

.summaryresults {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
}

.tab {
    /* border: solid 3px pink; */
    height: 50px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.senses {
    display: flex;
    gap: 15px;
    padding-left: 15px;
}

.percent {
    /* border: 2px solid pink; */
    display: flex;
    padding-right: 15px;
    gap:10px;
}

.continue {
    background-color: hsl(224, 30%, 27%);
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 40px;
}
